view {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: radial-gradient(circle, #0e1337 67%, #100325 89%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 820px;
  height: 1230px;
  position: relative;
  background: linear-gradient(180deg, #161c53 3%, #5f275a 70%, #871f41 98%);
  box-shadow: 0 102.5px 82px rgba(0, 0, 0, 0.3), 0 20.5px 20.5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.hill1 {
  position: absolute;
  top: 51%;
  left: -15%;
  width: 410px;
  height: 410px;
  background: #24204a;
  background: linear-gradient(196deg, #24204a 57%, #2e0a36 100%);
  transform: rotate(45deg);
}

.hill2 {
  position: absolute;
  top: 62%;
  left: 5%;
  width: 410px;
  height: 410px;
  background: linear-gradient(350deg, #231c5d 43%, #57325f 79%);
  transform: rotate(45deg);
}

.hill3 {
  position: absolute;
  top: 51%;
  left: 69%;
  width: 410px;
  height: 410px;
  background: #24204a;
  background: linear-gradient(196deg, #24204a 57%, #2e0a36 100%);
  transform: rotate(45deg);
}

.chimney {
  position: absolute;
  width: 10.25px;
  height: 41px;
  top: 61%;
  left: 63%;
  background: linear-gradient(to right, #c02425, #f0cb35);
}

.chimney2 {
  position: absolute;
  width: 18.45px;
  height: 10.25px;
  top: 61%;
  left: 62.6%;
  background: linear-gradient(to right, #ff512f, #f09819);
}

.hut {
  position: absolute;
  width: 61.5px;
  height: 61.5px;
  background: linear-gradient(to right, #f12711, #f5af19);
  top: 64%;
  left: 57.3%;
}

.roof {
  position: absolute;
  border-bottom: 10.25px solid #fd1d1d;
  width: 82px;
  height: 51.25px;
  top: 61%;
  left: 56%;
  background: linear-gradient(to bottom, #c21500, #ffc500);
  clip-path: polygon(50% 0%, 0 80%, 100% 81%);
}

.land {
  position: absolute;
  top: 67%;
  left: 0;
  width: 820px;
  height: 615px;
  background: linear-gradient(180deg, #2b265f 43%, #53215e 79%);
}

.bush1 {
  position: absolute;
  width: 18.45px;
  height: 53.3px;
  top: 62.8%;
  left: 73%;
  background: linear-gradient(350deg, rgba(79, 73, 129, 0.969701) 43%, rgba(87, 50, 95, 0.94169) 79%);
}

.bush2 {
  position: absolute;
  width: 14.35px;
  height: 41px;
  top: 64%;
  left: 77%;
  background: linear-gradient(350deg, rgba(79, 73, 129, 0.969701) 43%, rgba(87, 50, 95, 0.94169) 79%);
}

.bush3 {
  position: absolute;
  width: 14.35px;
  height: 53.3px;
  top: 79%;
  left: 91%;
  background: linear-gradient(350deg, rgba(79, 73, 129, 0.969701) 43%, rgba(87, 50, 95, 0.94169) 79%);
}

.bush4 {
  position: absolute;
  width: 14.35px;
  height: 41px;
  top: 80%;
  left: 88%;
  background: linear-gradient(350deg, rgba(79, 73, 129, 0.969701) 43%, rgba(87, 50, 95, 0.94169) 79%);
}

.bush5 {
  position: absolute;
  width: 14.35px;
  height: 53.3px;
  top: 66%;
  left: 12%;
  background: linear-gradient(350deg, rgba(79, 73, 129, 0.969701) 43%, rgba(87, 50, 95, 0.94169) 79%);
}

.bush6 {
  position: absolute;
  width: 14.35px;
  height: 41px;
  top: 67%;
  left: 15%;
  background: linear-gradient(350deg, rgba(79, 73, 129, 0.969701) 43%, rgba(87, 50, 95, 0.94169) 79%);
}

.bush7 {
  position: absolute;
  width: 14.35px;
  height: 53.3px;
  top: 82%;
  left: 33%;
  background: linear-gradient(350deg, rgba(79, 73, 129, 0.969701) 43%, rgba(87, 50, 95, 0.94169) 79%);
}

.bush8 {
  position: absolute;
  width: 14.35px;
  height: 41px;
  top: 83%;
  left: 36%;
  background: linear-gradient(350deg, rgba(79, 73, 129, 0.969701) 43%, rgba(87, 50, 95, 0.94169) 79%);
}

.bush9 {
  position: absolute;
  width: 14.35px;
  height: 41px;
  top: 83%;
  left: 30%;
  background: linear-gradient(350deg, rgba(79, 73, 129, 0.969701) 43%, rgba(87, 50, 95, 0.94169) 79%);
}

.bush10 {
  position: absolute;
  width: 123px;
  height: 123px;
  top: 90%;
  left: -1%;
  border-radius: 100%;
  background: linear-gradient(350deg, rgba(79, 73, 129, 0.969701) 43%, rgba(87, 50, 95, 0.94169) 79%);
}

.bush11 {
  position: absolute;
  width: 82px;
  height: 82px;
  top: 93%;
  left: 8%;
  border-radius: 100%;
  background: linear-gradient(350deg, rgba(48, 43, 93, 0.969701) 43%, rgba(87, 50, 95, 0.94169) 79%);
}

.bush12 {
  position: absolute;
  width: 82px;
  height: 82px;
  top: 93%;
  left: 84%;
  border-radius: 100%;
  background: linear-gradient(350deg, rgba(79, 73, 129, 0.969701) 43%, rgba(87, 50, 95, 0.94169) 79%);
}

.bush13 {
  position: absolute;
  width: 82px;
  height: 82px;
  top: 96%;
  left: 80%;
  border-radius: 100%;
  background: linear-gradient(350deg, rgba(48, 43, 93, 0.969701) 43%, rgba(87, 50, 95, 0.94169) 79%);
}

.disc1 {
  position: absolute;
  width: 328px;
  height: 328px;
  top: 10%;
  left: 35%;
  border-radius: 100%;
  background: white;
  opacity: 0.1;
}

.disc2 {
  position: absolute;
  width: 246px;
  height: 246px;
  top: 13.3%;
  left: 40%;
  border-radius: 100%;
  background: white;
  opacity: 0.1;
}

.disc3 {
  position: absolute;
  width: 184.5px;
  height: 184.5px;
  top: 16%;
  left: 44%;
  border-radius: 100%;
  background: white;
  opacity: 0.2;
}

.disc4 {
  position: absolute;
  width: 82px;
  height: 82px;
  top: 20%;
  left: 50%;
  border-radius: 100%;
  background: white;
}

.star1 {
  background: white;
  width: 307.5px;
  height: 26.65px;
  position: absolute;
  top: 30%;
  left: -8%;
  opacity: 0.1;
  animation: glow infinite 2s;
  animation-fill-mode: both;
  animation-direction: alternate;
  border-radius: 20.5px;
}

.star2 {
  background: white;
  width: 205px;
  height: 26.65px;
  position: absolute;
  top: 6%;
  left: 80%;
  opacity: 0.1;
  border-radius: 20.5px;
}

.star3 {
  background: white;
  width: 143.5px;
  height: 26.65px;
  position: absolute;
  top: 40%;
  left: 40%;
  opacity: 0.1;
  border-radius: 20.5px;
}

.star4 {
  background: white;
  width: 6.15px;
  height: 6.15px;
  position: absolute;
  top: 20%;
  left: 10%;
  border-radius: 100%;
  opacity: 0.5;
  animation-name: glowing-stars;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 250ms;
}

.star5 {
  background: white;
  width: 6.15px;
  height: 6.15px;
  position: absolute;
  top: 30%;
  left: 80%;
  border-radius: 100%;
  opacity: 0.5;
  animation-name: glowing-stars;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 750ms;
}

.star6 {
  background: white;
  width: 6.15px;
  height: 6.15px;
  position: absolute;
  top: 10%;
  left: 90%;
  border-radius: 100%;
  opacity: 0.5;
  animation-name: glowing-stars;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 900ms;
}

.star7 {
  background: white;
  width: 6.15px;
  height: 6.15px;
  position: absolute;
  top: 7%;
  left: 50%;
  border-radius: 100%;
  opacity: 0.5;
  animation-name: glowing-stars;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 1s;
}

.star8 {
  background: white;
  width: 6.15px;
  height: 6.15px;
  position: absolute;
  top: 40%;
  left: 8%;
  border-radius: 100%;
  opacity: 0.5;
  animation-name: glowing-stars;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 2s;
}

.star9 {
  background: white;
  width: 8.2px;
  height: 8.2px;
  position: absolute;
  top: 4%;
  left: 28%;
  border-radius: 100%;
  opacity: 0.5;
  animation-name: glowing-stars;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 500ms;
}

.star10 {
  background: white;
  width: 6.15px;
  height: 6.15px;
  position: absolute;
  top: 25%;
  left: 98%;
  border-radius: 100%;
  opacity: 0.5;
  animation-name: glowing-stars;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 660ms;
}

.star11 {
  background: white;
  width: 8.2px;
  height: 8.2px;
  position: absolute;
  top: 50%;
  left: 68%;
  border-radius: 100%;
  opacity: 0.5;
  animation-name: glowing-stars;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

#smoke {
  position: absolute;
  z-index: 3;
  width: 2.05px;
  height: 328px;
  left: 63%;
  top: 33%;
}

#smoke span {
  display: block;
  position: absolute;
  bottom: -71.75px;
  left: 50%;
  margin-left: -41px;
  height: 0px;
  width: 0px;
  border: 71.75px solid #4b4b4b;
  border-radius: 71.75px;
  left: -28.7px;
  opacity: 0;
  transform: scale(0.2);
}

@keyframes smokeL {
  0% {
    transform: scale(0.2) translate(0, 0);
  }
  10% {
    opacity: 1;
    transform: scale(0.2) translate(0, -10.25px);
  }
  100% {
    opacity: 0;
    transform: scale(1.5) translate(-41px, -266.5px);
  }
}

@keyframes smokeR {
  0% {
    transform: scale(0.2) translate(0, 0);
  }
  10% {
    opacity: 1;
    transform: scale(0.2) translate(0, -10.25px);
  }
  100% {
    opacity: 0;
    transform: scale(2) translate(41px, -266.5px);
  }
}

#smoke .s0 {
  animation: smokeL 10s 0s infinite;
}

#smoke .s1 {
  animation: smokeR 10s 1s infinite;
}

#smoke .s2 {
  animation: smokeL 10s 2s infinite;
}

#smoke .s3 {
  animation: smokeR 10s 3s infinite;
}

#smoke .s4 {
  animation: smokeL 10s 4s infinite;
}

#smoke .s5 {
  animation: smokeR 10s 5s infinite;
}

#smoke .s6 {
  animation: smokeL 10s 6s infinite;
}

#smoke .s7 {
  animation: smokeR 10s 7s infinite;
}

#smoke .s8 {
  animation: smokeL 10s 8s infinite;
}

#smoke .s9 {
  animation: smokeR 10s 9s infinite;
}

@keyframes glowing-stars {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
